.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.bold-text {
  font-weight: bold;
}

.tag {
  margin-right: 5px;
}

.more {
  display: none;
}

.btn:focus {
  box-shadow: none;
}
